<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bg-gray-100">
    <nav
      class="bg-white w-full flex relative shadow justify-center items-center px-8 h-20"
    >
      <div class="relative hidden sm:block flex-shrink flex-grow-0">
        <ul class="authBtn flex gap-6">
          <li>
            <a href="./login.html">Login</a>
          </li>
          <li>
            <a href="./register.html">Register</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div
        class="w-screen h-screen overflow-hidden relative before:block before:absolute before:bg-black before:h-full before:w-full before:top-0 before:left-0 before:z-10 before:opacity-30"
      >
        <img
          src="https://images.unsplash.com/photo-1501696461415-6bd6660c6742?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="absolute top-0 left-0 min-h-full ob"
          alt=""
        />
        <div
          class="relative z-20 max-w-screen-lg mx-auto grid grid-cols-12 h-full items-center"
        >
          <div class="col-span-6">
            <span class="uppercase text-white text-xs font-bold mb-2 block"
              >OUR SOCIAL NETWORK</span
            >
            <h1 class="text-white font-extrabold text-5xl mb-8">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
            <p class="text-stone-100 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <button
              class="mt-8 text-white uppercase py-4 text-base font-light px-10 border border-white hover:bg-white hover:bg-opacity-10"
            >
              <a href="./register.html">Get started</a>
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script src="../Assets/auth.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
