<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div
        class="flex h-screen bg-cover no-repeat"
        style="
          background-image: url(https://img.freepik.com/photos-gratuite/maldives_74190-477.jpg?t=st=1716543164~exp=1716546764~hmac=389dce94dd5dc655bb2164fbe4b6757ffc1d264f9aae3815551e9b4fd4e6aa00&w=996);
        "
      >
        <div
          class="hidden lg:flex items-center justify-center bg-white text-black"
        >
          <!-- <img
            class="bg-cover"
            src="./images/fond-plage-vagues_23-2147836090.png"
            alt=""
          /> -->
        </div>
        <div
          class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center"
        >
          <div class="max-w-md w-full p-6">
            <h1 class="text-3xl font-semibold mb-6 text-black text-center">
              Sign Up
            </h1>
            <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">
              Join to Our Community with all time access and free
            </h1>
            <div
              class="mt-4 flex flex-col lg:flex-row items-center justify-between"
            ></div>

            <form action="#" method="POST" class="space-y-4">
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <label
                    for="first_nameR"
                    class="block text-sm font-medium text-gray-700"
                    >First name</label
                  >
                  <input
                    type="text"
                    id="first_nameR"
                    name="first_nameR"
                    class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                  />
                </div>
                <div>
                  <label
                    for="last_nameR"
                    class="block text-sm font-medium text-gray-700"
                    >Last name</label
                  >
                  <input
                    type="text"
                    id="last_nameR"
                    name="last_nameR"
                    class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                  />
                </div>
              </div>
              <div>
                <label
                  for="image"
                  class="block text-sm font-medium text-gray-700"
                  >Picture</label
                >
                <input
                  type="file"
                  id="image"
                  name="image"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <label
                  for="emailR"
                  class="block text-sm font-medium text-gray-700"
                  >Email</label
                >
                <input
                  type="text"
                  id="emailR"
                  name="emailR"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <label
                  for="passwordR"
                  class="block text-sm font-medium text-gray-700"
                  >Password</label
                >
                <input
                  type="password"
                  id="passwordR"
                  name="passwordR"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <label
                  for="confirm_passwordR"
                  class="block text-sm font-medium text-gray-700"
                  >Confirm password</label
                ><span class="passwordMsg"></span>
                <input
                  type="password"
                  id="confirm_passwordR"
                  name="confirm_passwordR"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <button
                  class="registerBtn w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
                >
                  Sign Up
                </button>
              </div>
              <div class="mt-4">
                <p class="registerMsg"></p>
              </div>
            </form>
            <div class="mt-4 text-sm text-gray-600 text-center">
              <p>
                Already have an account?
                <a href="./login.html" class="text-blue-600 hover:underline"
                  >Login here</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- <script src="../Assets/post.js"></script> -->
    <script src="../Assets/auth.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
