<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav
      class="bg-white w-full flex relative shadow justify-between items-center px-8 h-20"
    >
      <div class="inline-flex gap-2">
        <a class="_o6689fn" href="./home.html">
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="css-i6dzq1"
          >
            <circle cx="12" cy="5" r="3"></circle>
            <line x1="12" y1="22" x2="12" y2="8"></line>
            <path d="M5 12H2a10 10 0 0 0 20 0h-3"></path>
          </svg>
        </a>
        <a href="./index.html">Home</a>
      </div>

      <div class="relative hidden sm:block flex-shrink flex-grow-0">
        <ul class="authBtn flex gap-6">
          <li>
            <a href="./login.html">Login</a>
          </li>
        </ul>
      </div>

      <div class="flex-initial"></div>
    </nav>
    <main>
      <div
        class="flex h-screen bg-cover"
        style="
          background-image: url(https://images.unsplash.com/photo-1622779536320-bb5f5b501a06?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        "
      >
        <div
          class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center"
        >
          <div class="max-w-md w-full p-6">
            <h1 class="text-3xl font-semibold mb-6 text-black text-center">
              Sign Up
            </h1>
            <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">
              Join to Our Community with all time access and free
            </h1>
            <div
              class="mt-4 flex flex-col lg:flex-row items-center justify-between"
            ></div>

            <form action="#" method="POST" class="space-y-4">
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <label
                    for="first_nameR"
                    class="block text-sm font-medium text-gray-700"
                    >First name</label
                  >
                  <input
                    type="text"
                    id="first_nameR"
                    name="first_nameR"
                    class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                  />
                </div>
                <div>
                  <label
                    for="last_nameR"
                    class="block text-sm font-medium text-gray-700"
                    >Last name</label
                  >
                  <input
                    type="text"
                    id="last_nameR"
                    name="last_nameR"
                    class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                  />
                </div>
              </div>
              <div>
                <label
                  for="image"
                  class="block text-sm font-medium text-gray-700"
                  >Picture</label
                >
                <input
                  type="file"
                  id="image"
                  name="image"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <label
                  for="emailR"
                  class="block text-sm font-medium text-gray-700"
                  >Email</label
                >
                <input
                  type="text"
                  id="emailR"
                  name="emailR"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <label
                  for="passwordR"
                  class="block text-sm font-medium text-gray-700"
                  >Password</label
                >
                <input
                  type="password"
                  id="passwordR"
                  name="passwordR"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <label
                  for="confirm_passwordR"
                  class="block text-sm font-medium text-gray-700"
                  >Confirm password</label
                ><span class="passwordMsg"></span>
                <input
                  type="password"
                  id="confirm_passwordR"
                  name="confirm_passwordR"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <button
                  class="registerBtn w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
                >
                  Sign Up
                </button>
              </div>
              <div class="mt-4">
                <p class="registerMsg"></p>
              </div>
            </form>
            <div class="mt-4 text-sm text-gray-600 text-center">
              <p>
                Already have an account?
                <a href="./login.html" class="text-blue-600 hover:underline"
                  >Login here</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- <script src="../Assets/post.js"></script> -->
    <script src="../Assets/auth.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
