<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div
        class="flex h-screen justify-center bg-contain no-repeat"
        style="
          background-image: url(https://img.freepik.com/photos-gratuite/fond-eau-mer_74190-3505.jpg?t=st=1716568227~exp=1716571827~hmac=2f9d94ebddd6b58c7d1c061be04b4f3004fa4ede295e688cf5c1790db93ee458&w=996);
        "
      >
        <div
          class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center"
        >
          <div class="max-w-md w-full p-6">
            <h1 class="text-3xl font-semibold mb-6 text-black text-center">
              Change password
            </h1>
            <div
              class="mt-4 flex flex-col lg:flex-row items-center justify-between"
            ></div>

            <form action="#" method="POST" class="space-y-4">
              <div>
                <label
                  for="password"
                  class="block text-sm font-medium text-gray-700"
                  >Password</label
                >
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <label
                  for="confirm_password"
                  class="block text-sm font-medium text-gray-700"
                  >Confirm password</label
                >
                <input
                  type="password"
                  id="confirm_password"
                  name="confirm_password"
                  class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                />
              </div>
              <div>
                <button
                  class="updatePasswordBtn w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
                >
                  Send
                </button>
              </div>
              <div class="mt-4">
                <p class="updatePasswordMsg"></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="../Assets/auth.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
